body {
	/* -webkit-font-smoothing: antialiased; */
}


.listenHeader {
	font-size: 7rem;
  	color: cornsilk;
}

.listenHeader small {
	font-size: 6rem;
	font-weight: 300;
	color: cornsilk;
}



.intro {
	background-image: 
		linear-gradient(
			to right, 
			transparent, 
			hsla(1, 50%, 50%, .3), 
			transparent
		);
}


/* this is just for the banner */

@media only screen and (max-width: 767px) {
	.listenHeader {
		font-size: 4rem;
	}

	.listenHeader small {
		font-size: 3rem;
	}
	label {
		font-size: 1.4;
	}
	.inputFields {
		font-size: 1.4;
	}
}



/* that google form... the best I could pluck from */

label {
	background-color: HSLA(177, 45%, 40%, 1);
 	padding: 12px;
 	color: white;
 	width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
}

.textFieldBG {
	background-color: HSLA(177, 45%, 40%, .1);
  width: 100%;
}

.inputFields {
	background-color: HSLA(177, 45%, 40%, .1);
  padding: 12px;
  color: white;
  width: 100%;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 8px;
}

.submitButton {
	background-color: HSLA(177, 45%, 40%, 1);
  color: white;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-height: 44px;
  font-size: 2rem;
  font-weight: 600;
}